extends ../layout

block content
  a(href='/bicicletas') Volver

  br
  br
  br

  h1 Nueva Usuario

  br
  br
  
  form(action="/usuarios/create", method="post")
    .form-group
        label(for="nombre") Nombre:
        input#nombre.form-control(type="text", name="nombre" value = usuario.nombre class = errors.nombre ? 'is-invalid' : '')
        if errors.nombre
            small#nombreMelp.text-danger
              = errors.nombre.message
    .form-group
        label(for="email") Email:
        input#email.form-control(type="text", name="email" value = usuario.email class =errors.email ? 'is-invalid' : '')
        if errors.email
            small#emailMelp.text-danger
              = errors.email.messag
    .form-group
        label(for="pwd") Password:
        input#pwd.form-control(type="password", name="password" value = usuario.password class = errors.password ? 'is-invalid' : '')
        if errors.password
            small#passwordMelp.text-danger
              = errors.password.message
    .form-group
        label(for="confirm_pwd") Confirmar Password:
        input#confirm_pwd.form-control(type="password", name="confirm_password" value = usuario.confirm_password class = errors.confirm_password ? 'is-invalid' : '')
        if errors.confirm_password
            small#confirm_passworddMelp.text-danger
              = errors.confirm_password.message
    br
    br
    input.btn(type="submit" value="Ok")